<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkgame.meituan.dao.maper.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.zkgame.meituan.model.Shop" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_dpid" property="shopDpid" jdbcType="VARCHAR" />
    <result column="shop_poiid" property="shopPoiid" jdbcType="INTEGER" />
    <result column="shop_tel" property="shopTel" jdbcType="VARCHAR" />
    <result column="shop_addr" property="shopAddr" jdbcType="VARCHAR" />
    <result column="shop_area" property="shopArea" jdbcType="VARCHAR" />
    <result column="shop_long" property="shopLong" jdbcType="VARCHAR" />
    <result column="shop_lat" property="shopLat" jdbcType="VARCHAR" />
    <result column="shop_city" property="shopCity" jdbcType="VARCHAR" />
    <result column="shop_trafficinfo" property="shopTrafficinfo" jdbcType="VARCHAR" />
    <result column="shop_version" property="shopVersion" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
  	id, shop_name, shop_dpid, shop_poiid, shop_tel, shop_addr, shop_area, shop_long, shop_lat, shop_city, shop_trafficinfo, shop_version
  </sql>
  <!-- 查找记录 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_shop
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <!-- 删除指定记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_shop
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 新增记录 -->
  <insert id="insert" parameterType="com.zkgame.meituan.model.Shop" useGeneratedKeys="true" keyProperty="id">
    insert into t_shop (
    id, shop_name, shop_dpid, shop_poiid, shop_tel, shop_addr, shop_area, shop_long, shop_lat, shop_city, shop_trafficinfo, shop_version
    )
    values (
    #{id,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopDpid,jdbcType=VARCHAR}, #{shopPoiid,jdbcType=INTEGER}, #{shopTel,jdbcType=VARCHAR}, #{shopAddr,jdbcType=VARCHAR}, #{shopArea,jdbcType=VARCHAR}, #{shopLong,jdbcType=VARCHAR}, #{shopLat,jdbcType=VARCHAR}, #{shopCity,jdbcType=VARCHAR}, #{shopTrafficinfo,jdbcType=VARCHAR}, #{shopVersion,jdbcType=INTEGER}
    )
  </insert>
  <!-- 新增记录 -->
  <insert id="insertSelective" parameterType="com.zkgame.meituan.model.Shop" useGeneratedKeys="true" keyProperty="id">
    insert into t_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	<if test="id != null" >
        id,
      </if>
    	<if test="shopName != null" >
        shop_name,
      </if>
    	<if test="shopDpid != null" >
        shop_dpid,
      </if>
    	<if test="shopPoiid != null" >
        shop_poiid,
      </if>
    	<if test="shopTel != null" >
        shop_tel,
      </if>
    	<if test="shopAddr != null" >
        shop_addr,
      </if>
    	<if test="shopArea != null" >
        shop_area,
      </if>
    	<if test="shopLong != null" >
        shop_long,
      </if>
    	<if test="shopLat != null" >
        shop_lat,
      </if>
    	<if test="shopCity != null" >
        shop_city,
      </if>
    	<if test="shopTrafficinfo != null" >
        shop_trafficinfo,
      </if>
    	<if test="shopVersion != null" >
        shop_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="id != null" >
    		#{id,jdbcType=INTEGER},
      </if>
    	<if test="shopName != null" >
    		#{shopName,jdbcType=VARCHAR},
      </if>
    	<if test="shopDpid != null" >
    		#{shopDpid,jdbcType=VARCHAR},
      </if>
    	<if test="shopPoiid != null" >
    		#{shopPoiid,jdbcType=INTEGER},
      </if>
    	<if test="shopTel != null" >
    		#{shopTel,jdbcType=VARCHAR},
      </if>
    	<if test="shopAddr != null" >
    		#{shopAddr,jdbcType=VARCHAR},
      </if>
    	<if test="shopArea != null" >
    		#{shopArea,jdbcType=VARCHAR},
      </if>
    	<if test="shopLong != null" >
    		#{shopLong,jdbcType=VARCHAR},
      </if>
    	<if test="shopLat != null" >
    		#{shopLat,jdbcType=VARCHAR},
      </if>
    	<if test="shopCity != null" >
    		#{shopCity,jdbcType=VARCHAR},
      </if>
    	<if test="shopTrafficinfo != null" >
    		#{shopTrafficinfo,jdbcType=VARCHAR},
      </if>
    	<if test="shopVersion != null" >
    		#{shopVersion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- 修改指定记录 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.zkgame.meituan.model.Shop" >
    update t_shop
    <set>
    	<if test="shopName != null" >
    		shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
    	<if test="shopDpid != null" >
    		shop_dpid = #{shopDpid,jdbcType=VARCHAR},
      </if>
    	<if test="shopPoiid != null" >
    		shop_poiid = #{shopPoiid,jdbcType=INTEGER},
      </if>
    	<if test="shopTel != null" >
    		shop_tel = #{shopTel,jdbcType=VARCHAR},
      </if>
    	<if test="shopAddr != null" >
    		shop_addr = #{shopAddr,jdbcType=VARCHAR},
      </if>
    	<if test="shopArea != null" >
    		shop_area = #{shopArea,jdbcType=VARCHAR},
      </if>
    	<if test="shopLong != null" >
    		shop_long = #{shopLong,jdbcType=VARCHAR},
      </if>
    	<if test="shopLat != null" >
    		shop_lat = #{shopLat,jdbcType=VARCHAR},
      </if>
    	<if test="shopCity != null" >
    		shop_city = #{shopCity,jdbcType=VARCHAR},
      </if>
    	<if test="shopTrafficinfo != null" >
    		shop_trafficinfo = #{shopTrafficinfo,jdbcType=VARCHAR},
      </if>
    	<if test="shopVersion != null" >
    		shop_version = #{shopVersion,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- 修改指定记录 -->
  <update id="updateByPrimaryKey" parameterType="com.zkgame.meituan.model.Shop" >
    update t_shop
    set 
	  	id = #{id,jdbcType=INTEGER}, 
	  	shop_name = #{shopName,jdbcType=VARCHAR}, 
	  	shop_dpid = #{shopDpid,jdbcType=VARCHAR}, 
	  	shop_poiid = #{shopPoiid,jdbcType=INTEGER}, 
	  	shop_tel = #{shopTel,jdbcType=VARCHAR}, 
	  	shop_addr = #{shopAddr,jdbcType=VARCHAR}, 
	  	shop_area = #{shopArea,jdbcType=VARCHAR}, 
	  	shop_long = #{shopLong,jdbcType=VARCHAR}, 
	  	shop_lat = #{shopLat,jdbcType=VARCHAR}, 
	  	shop_city = #{shopCity,jdbcType=VARCHAR}, 
	  	shop_trafficinfo = #{shopTrafficinfo,jdbcType=VARCHAR}, 
	  	shop_version = #{shopVersion,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- 按条件查询(可分页) -->
  <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from t_shop
    <where>
    	<if test="id != null" >
    		AND id = #{id}
      </if>
    	<if test="shopName != null" >
    		AND shop_name = #{shopName}
      </if>
    	<if test="shopDpid != null" >
    		AND shop_dpid = #{shopDpid}
      </if>
    	<if test="shopPoiid != null" >
    		AND shop_poiid = #{shopPoiid}
      </if>
    	<if test="shopTel != null" >
    		AND shop_tel = #{shopTel}
      </if>
    	<if test="shopAddr != null" >
    		AND shop_addr = #{shopAddr}
      </if>
    	<if test="shopArea != null" >
    		AND shop_area = #{shopArea}
      </if>
    	<if test="shopLong != null" >
    		AND shop_long = #{shopLong}
      </if>
    	<if test="shopLat != null" >
    		AND shop_lat = #{shopLat}
      </if>
    	<if test="shopCity != null" >
    		AND shop_city = #{shopCity}
      </if>
    	<if test="shopTrafficinfo != null" >
    		AND shop_trafficinfo = #{shopTrafficinfo}
      </if>
    	<if test="shopVersion != null" >
    		AND shop_version = #{shopVersion}
      </if>
    </where>
    <if test="startRow != null and pageSize != null">limit #{startRow},#{pageSize}</if>
  </select>
  <!-- 按条件查询总数 -->
  <select id="selectCntByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select
    count(*)
    from t_shop
    <where>
    	<if test="id != null" >
    		AND id = #{id}
      </if>
    	<if test="shopName != null" >
    		AND shop_name = #{shopName}
      </if>
    	<if test="shopDpid != null" >
    		AND shop_dpid = #{shopDpid}
      </if>
    	<if test="shopPoiid != null" >
    		AND shop_poiid = #{shopPoiid}
      </if>
    	<if test="shopTel != null" >
    		AND shop_tel = #{shopTel}
      </if>
    	<if test="shopAddr != null" >
    		AND shop_addr = #{shopAddr}
      </if>
    	<if test="shopArea != null" >
    		AND shop_area = #{shopArea}
      </if>
    	<if test="shopLong != null" >
    		AND shop_long = #{shopLong}
      </if>
    	<if test="shopLat != null" >
    		AND shop_lat = #{shopLat}
      </if>
    	<if test="shopCity != null" >
    		AND shop_city = #{shopCity}
      </if>
    	<if test="shopTrafficinfo != null" >
    		AND shop_trafficinfo = #{shopTrafficinfo}
      </if>
    	<if test="shopVersion != null" >
    		AND shop_version = #{shopVersion}
      </if>
    </where>
  </select>
  
  
     <!-- 修改指定记录By商铺的id -->
  <update id="updateByShopPoiid" parameterType="com.zkgame.meituan.model.Shop" >
    update t_shop
    <set>
    	<if test="shopName != null" >
    		shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
    	<if test="shopDpid != null" >
    		shop_dpid = #{shopDpid,jdbcType=VARCHAR},
      </if>
    	<if test="shopTel != null" >
    		shop_tel = #{shopTel,jdbcType=VARCHAR},
      </if>
    	<if test="shopAddr != null" >
    		shop_addr = #{shopAddr,jdbcType=VARCHAR},
      </if>
    	<if test="shopArea != null" >
    		shop_area = #{shopArea,jdbcType=VARCHAR},
      </if>
    	<if test="shopLong != null" >
    		shop_long = #{shopLong,jdbcType=VARCHAR},
      </if>
    	<if test="shopLat != null" >
    		shop_lat = #{shopLat,jdbcType=VARCHAR},
      </if>
    	<if test="shopCity != null" >
    		shop_city = #{shopCity,jdbcType=VARCHAR},
      </if>
    	<if test="shopTrafficinfo != null" >
    		shop_trafficinfo = #{shopTrafficinfo,jdbcType=VARCHAR},
      </if>
          	<if test="shopVersion != null" >
    	    shop_version = #{shopVersion,jdbcType=INTEGER}
      </if>
    </set>
    where shop_poiid = #{shopPoiid,jdbcType=INTEGER}
  </update>
  
  
</mapper>